# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs and database files
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Environment variables
.env

.DS_Store

output/

cookies.txt